<div *ngIf="project != null; else noproject">
  <h3>Viendo proyecto con registro {{ projectID }}</h3>
  <table class="table table-striped">
    <tr>
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
    </tr>
  </table>
</div>
<ng-template #noproject>
    <div class="alert alert-warning text-center">No existe ningún proyecto con registro {{ projectID }}</div>
</ng-template>

<div class="text-right">
  <button type="button" class="btn btn-secondary mr-3" routerLink="/projects">Volver</button>
</div>
