<h3>Crear nuevo proyecto</h3>

<form [formGroup]="formGroup">

  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" name="id" class="form-control" formControlName="id" placeholder="ID">
  </div>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" class="form-control" formControlName="name" placeholder="Nombre">
  </div>

  <div class="text-right">
    <button type="button" class="btn btn-secondary mr-3" routerLink="/projects">Volver</button>
    <input type="button" class="btn btn-primary" [disabled]="formGroup.invalid" (click)="saveData()" value="Guardar">
  </div>

</form>
